<!DOCTYPE html>
<html lang="en">

<head>
<title>Opportunity Finder</title>  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="JS/fte.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/reference_css.css">
  <link rel="stylesheet" type="text/css" href="../css/Capture.css">
  <script src="../js/calculations.js"></script>
  <style>
      input[type="text"] {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
     text-align: center;
     
}
#total{
  font-weight: bold
}
/* removing this would make input not to go over cells border, but they would be too short, I want them to fit cells size */
    table {border-top: 1px solid #110202; border-left: 1px solid #160404;}
      table td {border-right: 1px solid #021802; border-bottom: 1px solid #020f02;}
      </style>






</head>
<body>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            
              <img  class="navbar-brand" src="mphasis_logo.jpg">
            
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/user/adminHome">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Process Discovery<span class="caret"></span></a>
                 <ul class="dropdown-menu" role="menu">
                  <li><a href="/user/captureProcess"><b>Capture Process</b></a></li>
              <li><a href="/user/processViewById"><b>View Process</b></a></li>
              <li><a href="/user/approveProcess"><b>Approve Process</b></a></li>
              <li><a href="/user/processPrioritization"><b>Process Prioritization</b></a></li>
                    
                    
                 </ul>
             </li>
            <li><a href="/user/userManagement">User Management</a></li>
        <li><a href="/user/About">About</a></li>
        <li><a href="/user/Contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="jumbotron" id="cp">
        <div class="container text-center" >
        <h1 id="pc">Effort Estimation</h1>
        <p>Tables for calculating effort</p>
        
        </div>
      </div>
<center><font color="green"><h1>{{viewtitle}}</h1></font></center>
<div class="text-right">        
             <button type="button" onclick="goBack()" class="btn btn-success">Back</button>  
        
          </div>
          
     </style>    
</head>
<body>
{{!-- <form action=""> --}}
  <div align="left">
<h1>Effort Estimation </h1>(person months)
</div>
<br>
 <div class="table-responsive">
     
        <table align="center">
            <thead>
   <tr>
              <td scope="col"><h3><b>Classification</b></h3></td>
              <td scope="col"><h3><b>Developer</b></h3></td>
              <td scope="col"><h3><b>Sr Developer</b></h3></td>
              <td scope="col"><h3><b>BA</b></h3></td>
              <td scope="col"><h3><b>Architect</b></h3></td>
              <td scope="col"><h3><b>PM</b></h3></td>
              <td scope="col"><h3><b>DM</b></h3></td>
              <td scope="col"><h3><b>Total</b></h3></td>
   </tr>
   </thead>
   <tbody>
   <tr>
       <td>Simple</td>
      <td><input type="text" name="Simple_Dev" value="{{Simple_Dev_Effort}}" readonly></td>
      <td><input type="text"  name="Simple_Srdev" value="{{Simple_Srdev_Effort}}" readonly></td>
      <td><input type="text" name="Simple_BA" value="{{Simple_BA_Effort}}" readonly></td>
      <td><input type="text" name="Simple_Arch" value="{{Simple_Arch_Effort}}" readonly></td>
      <td><input type="text" name="Simple_PM" value="{{Simple_PM_Effort}}" readonly></td>
      <td><input type="text" name="Simple_DM" value="{{Simple_DM_Effort}}" readonly></td>
      <td><input type="text" name="Total_Simple_Effort" value="{{Total_Simple_Effort}}" readonly></td>
   </tr>
   
   <tr>
      
       <td>Medium</td>
      <td><input type="text" name="Medium_Dev" value="{{Medium_Dev_Effort}}" readonly></td>
      <td><input type="text" name="Medium_Srdev" value="{{Medium_Srdev_Effort}}" readonly></td>
      <td><input type="text" name="Medium_BA" value="{{Medium_BA_Effort}}" readonly></td>
      <td><input type="text" name="Medium_Arch" value="{{Medium_Arch_Effort}}" readonly></td>
      <td><input type="text" name="Medium_PM" value="{{Medium_PM_Effort}}" readonly></td>
      <td><input type="text" name="Medium_DM" value="{{Medium_DM_Effort}}" readonly></td>
      <td><input type="text" name="Total_Medium_Effort" value="{{Total_Medium_Effort}}" readonly></td>
   </tr>
   
   <tr>
       
       <td>Complex</td>
      <td><input type="text" name="Complex_Dev" value="{{Complex_Dev_Effort}}" readonly></td>
      <td><input type="text" name="Complex_Srdev" value="{{Complex_Srdev_Effort}}" readonly></td>
      <td><input type="text" name="Complex_BA" value="{{Complex_BA_Effort}}" readonly></td>
      <td><input type="text" name="Complex_Arch" value="{{Complex_Arch_Effort}}" readonly></td>
      <td><input type="text" name="Complex_PM" value="{{Complex_PM_Effort}}" readonly></td>
      <td><input type="text" name="Complex_DM" value="{{Complex_DM_Effort}}" readonly></td>
      <td><input type="text" name="Total_Complex_Effort" value="{{Total_Complex_Effort}}" readonly></td>
   </tr>
   
   <tr>
       
       <td>Total</td>
      <td><input type="text" name="Total_Dev_Effort" value="{{Total_Dev_Effort}}" readonly></td>
      <td><input type="text" name="Total_Srdev_Effort" value="{{Total_Srdev_Effort}}" readonly></td>
      <td><input type="text" name="Total_BA_Effort" value="{{Total_BA_Effort}}" readonly></td>
      <td><input type="text" name="Total_Arch_Effort" value="{{Total_Arch_Effort}}" readonly></td>
      <td><input type="text" name="Total_PM_Effort" value="{{Total_PM_Effort}}" readonly></td>
      <td><input type="text" name="Total_DM_Effort" value="{{Total_DM_Effort}}" readonly></td>
      <td><input type="text" name="Total_Of_Total_Effort" value="{{Total_Of_Total_Effort}}" readonly></td>
   </tr>
   </tbody>
</table>
      </div>
      
      
 <div class="table-responsive">
     <div align="left">
<h1>Staffing Plan</h1> (loading for the duration of the project)
</div>
<br>
 <div class="table-responsive">
     
        <table align="center">
            <thead>
   <tr>
             <td scope="col"><h3><b>Developer</b></h3></td>
              <td scope="col"><h3><b>Sr Developer</b></h3></td>
              <td scope="col"><h3><b>BA</b></h3></td>
              <td scope="col"><h3><b>Architect</b></h3></td>
              <td scope="col"><h3><b>PM</b></h3></td>
              <td scope="col"><h3><b>DM</b></h3></td>
              <td scope="col"><h3><b>Total</b></h3></td>
   </thead>
   <tbody>
      <tr>
      <td><input type="text" name="Dev_Roundoff" value="{{Dev_Roundoff}}" readonly></td> 
      <td><input type="text" name="Srdev_Roundoff" value="{{Srdev_Roundoff}}" readonly></td>
      <td><input type="text"  name="BA_Roundoff" value="{{BA_Roundoff}}" readonly></td>
      <td><input type="text" name="Arch_Roundoff" value="{{Arch_Roundoff}}" readonly></td>
      <td><input type="text" name="PM_Roundoff" value="{{PM_Roundoff}}" readonly></td>
      <td><input type="text" name="DM_Roundoff" value="{{DM_Roundoff}}" readonly></td>
      <td><input type="text" name="Total_Rounoff" value="{{Total_Rounoff}}" readonly></td>
   </tr>
   
   </tbody>
</table>
      </div>
    <div class="table-responsive">
     <div align="left">
<h1>Implementation cost</h1>
</div>
<br>
 <div class="table-responsive">
     
        <table align="center">
            <thead>
   <tr>
              <td scope="col"><h3><b>Role</b></h3></td>
              <td scope="col"><h3><b>Total Effort</b></h3></td>
              <td scope="col"><h3><b>Cost</b></h3></td>
              
  </tr>
   </thead>
   <tbody>
      <tr>
       <td>Developer</td>
       <td><input type="text" name="Bot_Creator_Count" value="{{Total_Dev_Effort}}" readonly></td>
      <td><input type="text" name="Bot_Creator_Price" value="{{Dev_Cost}}" readonly></td>
      
   </tr>
   
   <tr>
       <td>Sr.Developer</td>
       <td><input type="text" name="Bot_Creator_Count" value="{{Total_Srdev_Effort}}" readonly></td>
      <td><input type="text" name="Bot_Creator_Price" value="{{Srdev_Cost}}" readonly></td>
      
   </tr>
   
   
   <tr>
       <td>BA</td>
       <td><input type="text" name="Bot_Creator_Count" value="{{Total_BA_Effort}}" readonly></td>
      <td><input type="text" name="Bot_Creator_Price" value="{{BA_Cost}}" readonly></td>
      
   </tr>
   
   <tr>
       <td>Architect</td>
       <td><input type="text" name="Bot_Creator_Count" value="{{Total_Arch_Effort}}" readonly></td>
      <td><input type="text" name="Bot_Creator_Price" value="{{Arch_Cost}}" readonly></td>
      
   </tr>
   
   <tr>
       <td>PM</td>
       <td><input type="text" name="Bot_Creator_Count" value="{{Total_PM_Effort}}" readonly></td>
      <td><input type="text" name="Bot_Creator_Price" value="{{PM_Cost}}" readonly></td>
      
   </tr>
   
   <tr>
       <td>DU Lead</td>
       <td><input type="text" name="Bot_Creator_Count" value="{{Total_DM_Effort}}" readonly></td>
      <td><input type="text" name="Bot_Creator_Price" value="{{DUlead_Cost}}" readonly></td>
      
   </tr>
   <tr>
      <td></td>
      <td><b>Total</b></td>
      <td><input type="text" name="Totalof_Total_Lisc_Price" id="total" value="{{Total_Imp_Cost}}" readonly></td>

</tr>
  </tbody>
</table>
      </div>
     
 
   <div class="table-responsive">
     <div align="left">
<h1>Liscence cost</h1>
</div>
<br>
 <div class="table-responsive">
     
        <table align="center">
            <thead>
   <tr>
              <td scope="col"><h3><b>Softwares</b></h3></td>
              <td scope="col"><h3><b>Count</b></h3></td>
              <td scope="col"><h3><b>Price</b></h3></td>
              <td scope="col"><h3><b>Total</b></h3></td>
  </tr>
   </thead>
   <tbody>
      <tr>
       <td>Bot Creator</td>
       <td><input type="text" name="Bot_Creator_Count" value="{{Bot_Creator_Count}}" readonly></td>
      <td><input type="text" name="Bot_Creator_Price" value="{{Bot_Creator_Price}}" readonly></td>
      <td><input type="text" name="Total_Bot_Creator_Cost" value="{{Total_Bot_Creator_Cost}}" readonly></td>
   </tr>
   
   <tr><td>Bot Runner(Unattended)</td>
      <td><input type="text" name="Botrunner_Unatt_Count" value="{{Botrunner_Unatt_Count}}"readonly></td>
      <td><input type="text" name="Botrunner_Unatt_Price" value="{{Botrunner_Unatt_Price}}" readonly></td>
      <td><input type="text" name="Total_Botrunner_Unatt_Cost" value="{{Total_Botrunner_Unatt_Cost}}" readonly></td>
   </tr>
   
   <tr>
       <td>Bot Runner(Attended)</td>
      <td><input type="text" name="Botrunner_Att_Count" value="{{Botrunner_Att_Count}}" readonly></td> 
      <td><input type="text" name="Botrunner_Att_Price" value="{{Botrunner_Att_Price}}" readonly></td>
      <td><input type="text" name="Total_Botrunner_Att_Cost" value="{{Total_Botrunner_Att_Cost}}" readonly></td>
       </tr>
   
   <tr>
       <td>Control Room</td>
      <td><input type="text" name="Controlroom_Count" value="{{Controlroom_Count}}" readonly></td>
      <td><input type="text" name="Controlroom_Price" value="{{Controlroom_Price}}" readonly></td>
    <td><input type="text" name="Total_Controlroom_Cost" value="{{Total_Controlroom_Cost}}" readonly></td>
   </tr>
   <tr>
   <td></td>
      <td></td>
      <td>Total</td>
      <td><input type="text" name="Totalof_Total_Lisc_Price" id="total" value="{{Totalof_Total_Lisc_Price}}" readonly></td>

</tr>
  </tbody>
</table>
      </div>
      <div align="right">
   <input type="submit" class="btn btn-success" value="View Details">
   </div>
       <div class="table-responsive">
     <div align="left">
<h1>Infrastructure cost</h1>
</div>
<br>
 <div class="table-responsive">
     
        <table align="center">
            <thead>
   <tr>
              <td scope="col"><h3><b>Softwares</b></h3></td>
              <td scope="col"><h3><b>Count</b></h3></td>
              <td scope="col"><h3><b>Price</b></h3></td>
              <td scope="col"><h3><b>Total</b></h3></td>
  </tr>
   </thead>
   <tbody>
      <tr>
       <td>VM</td>
       <td><input type="text" name="VM_Count" value="{{VM_Count}}" readonly></td>
      <td><input type="text" name="VM_Price" value="{{VM_Price}}" readonly></td>
      <td><input type="text" name="Total_VM_Price" value="{{Total_VM_Price}}" readonly></td>
</tr>
 <tr>
       <td>Server</td>
      <td><input type="text" name="Server_Count" value="{{Server_Count}}" readonly></td>
      <td><input type="text" name="Server_Price" value="{{Server_Price}}" readonly></td>
      <td><input type="text" name="Total_Server_Price" value="{{Total_Server_Price}}" readonly></td>
</tr>
<tr>
   <td></td>
      <td></td>
      <td>Total</td>
      <td><input type="text" name="Totalof_Total_Infra_Price" id="total" value="{{Totalof_Total_Infra_Price}}" readonly></td>

</tr>
  </tbody>
</table>
      </div>

   </form>