<!DOCTYPE html>
<html lang="en">

<head>
<title>Opportunity Finder</title>  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="JS/fte.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/reference_css.css">
  <link rel="stylesheet" type="text/css" href="../css/Capture.css">
  <script src="../js/calculations.js"></script>
  
  <style>
    


input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
} 
 input[type=text]:focus {
   width:100%;
 }

    
    
    #submit{
      padding-top: 10ch;
    }
  </style>
  






</head>
<body>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            
              <img  class="navbar-brand" src="mphasis_logo.jpg">
            
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/user/adminHome">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Process Discovery<span class="caret"></span></a>
                 <ul class="dropdown-menu" role="menu">
                    <li><a href="/user/captureProcess"><b>Capture Process</b></a></li>
              <li><a href="/user/processViewById"><b>View Process</b></a></li>
              <li><a href="/user/approveProcess"><b>Approve Process</b></a></li>
              <li><a href="/user/list"><b>Process Prioritization</b></a></li>
                    
                    
                 </ul>
             </li>
                  <li><a href="/user/userManagement">User Management</a></li>
        <li><a href="/user/About">About</a></li>
        <li><a href="/user/Contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="jumbotron" id="cp">
        <div class="container text-center" >
        <h1 id="pc">View Process</h1>
        <p>View Approved Process Details</p>
        
        </div>
      </div>
      
       <div class="text-right">
             <button  type="button" onclick="goBack()" class="btn btn-success">Back</button>  
          </div><br><br>
          <div id="search" align="center">
        <input type="text" class="fa-fa-search" id="myInput" onkeyup="myFunction()" text-align="center" placeholder="Search Client Name" title="Type in a name"> 
  <span class="glyphicon glyphicon-search"></span>
      </div>
 <center> <font color="red">{{viewtitle}}</font></center>
<div id="allign">
  {{!-- <input type="text" name="search" placeholder="Search.."id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name"> --}}
  {{!--   <input type="text" name="search" placeholder="Search by client name"  onkeyup="myFunction()" >  --}}

 <form action="">
    
    <div class="table-responsive">
        <table class="table" id="myTable">
          <thead>
            <tr>
              <th scope="col">Client Name</th>
              <th scope="col">Business Unit</th>
              <th scope="col">Sub Business Unit</th>
              <th scope="col">Process Name</th>
              <th scope="col">Process Id</th>
            </tr>
          </thead>
          <tbody>
              {{#each list}}
            <tr>
              <td>{{this.clientName}}</td>
              <td>{{this.Buss_Unit}}</td>
              <td>{{this.Sub_Buss_Unit}}</td>
             <td>{{this.Proc_Name}}</td>
             <td>{{this.Proc_Id}}</td>
             <td><a href="{{this.Proc_Id}}"> View </a></td>
            </tr>
           {{/each}}
          </tbody>
        </table>
      </div>
      
      
    </div>
    
    
            
            
          
          
          
          
          
  </form>
  
  </div>
  
</body>
</html> 